* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.op-menu{
    display: none;
}

/*------------------IR ARRIBa------------*/

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    background-color: #69C3E7;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    background-color: black;
}

/*---------------------------------------------------------------------------------------*/
 .lineaheader{
 	width: 100%;
 	height: 40px;
 	overflow: hidden;
 	background-color: #0F4861;
 	color: #fff;
 }

.trabajar{
	width: 43%;
	margin: 0 auto;
}
.trabajar p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	margin-top: 1%;
}
.trabajar a button{
	margin-top: .5%;
}
header{
 	width: 100%;
 	overflow: hidden;
 	background-color: #F6F6F6;
 }
 .logo{
 	width: 20%;
 	margin-left: 3%;
 }
 nav{
	background-color: #0F4861;
	margin-top: 4.8%;
	overflow: hidden;
	padding: 0px;
 }
 nav ul{
 	padding: 10px 20px;
 }
nav ul a.selector{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	padding: 20px 25px;
}
nav ul a.selector:hover{
	background-color: #69C3E7;
}
nav ul a#select{
	background-color: #69C3E7;
}
.banneri {
    position: relative;
    height: 410px;
    background: url('../img/banneri.jpg');
    background-size: cover;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.primeraseccion p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	color: #000;
	width: 80%;
	margin: 0 auto;
	margin-top: 3%;
	text-align: center;
}
.imagen1{
	position: relative;
	width: 100%;
    height: 250px;
    background: url('../img/oficina.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen2{
	position: relative;
	width: 100%;
    height: 250px;
    background: url('../img/hospital.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen3{
	position: relative;
	width: 100%;
    height: 250px;
    background: url('../img/hotel.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen4{
	position: relative;
	width: 100%;
    height: 250px;
    background: url('../img/comercios.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}

/*---------------------pie------------------*/
footer{
	background: #0F4861;
	/*background: #000 !important;*/
	font-family: 'Oswald', sans-serif;
	height: 100px;
	overflow: hidden;
	z-index: 3;
	clear: both;
}
footer p{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 2.5%;
	/*color: #fff;*/
	color: #fff;
}
/*------------------------------------------------------------------------------------------------*/

/*------------------nosotros------------*/
.bannern {
    position: relative;
    height: 410px;
    width: 100%;
    background: url('../img/bannern.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.fondo{
	background-color: rgba(0,0,0,.5);
	height: 410%;
	width: 100%;
	overflow: hidden;
}
.bannern p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 55px;
	color: #fff;
	background-color: rgba(255,255,255,.5);
	background-color: rgba(0,0,0,.5);
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}
.texto{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	color: #000;
}
.texto2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	color: #fff;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
/*------------------------------------------------------------------------------------------------*/
/*-------------servicios-----------------*/
.banners {
    position: relative;
    height: 410px;
    background: url('../img/banners.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.banners p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 55px;
	color: #fff;
	background-color: rgba(255,255,255,.5);
	background-color: rgba(0,0,0,.5);
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}
.tit{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 35px;
	color: #fff;
	padding: 2%;
	background-color: rgba(0,0,0,.5);
	width: 65%;
	margin: 0 auto;
	/*margin-top: 1%;*/
	text-align: center;
}
.uno, 
.dos, 
.tres,
.cuatro, 
.cinco, 
.seis{
	display: inline-block;
	margin-left: 3%;
	color: #000;
	font-weight: bold;
}
.uno{
	width: 30%;
	height: 350px;
	background: url('../img/supervision.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.fondo1{
	width: 100%;
	height: 350px;
	background-color: rgba( 127, 179, 213,.4);
	background:linear-gradient (orange, red, green);
	overflow: hidden;
}
.fondo1 h2{
	margin-top: 55%;
	padding-left: 3%;
}
hr.linea{
	width: 70%;
	height: 3px;
	/*margin-left: 5%;*/
	background-color: #fff;
}
.dos{
	width: 30%;
	height: 350px;
	background: url('../img/direccion.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.tres{
	width: 30%;
	height: 350px;
	background: url('../img/asesoria.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.cuatro{
	width: 30%;
	height: 350px;
	background: url('../img/avaluos.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.cinco{
	width: 30%;
	height: 350px;
	background: url('../img/estudios.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.seis{
	width: 30%;
	height: 350px;
	background: url('../img/estacionamiento.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}



/*------------------------------------------------------------------------------------------------*/
/*--------------------contacto-----------------*/
.mapa{
	width: 100%;
}
.mapa iframe{
	width: 100%;
}
.contact{
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}
.contact2 .fa:before {
  display: inline-block;
  opacity: 0.7;
}

.contact2 li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1em;
  text-align: center;
}

.contact2 p {
  text-align: center;
}

.contact2 {
  display: inline-block;
  margin: 0 auto;
  padding-left: 0;
  /*border: 2px red solid;*/
  /*width: 100%;*/
}

.cont {
  text-align: center;
  /*width: 100%;*/
}